.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #222737, #37425e);
}

.dashboard {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard h1 {
  margin: 0;  /* Rimuovi margini extra */
  padding: 0;  /* Rimuovi padding extra */
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.wallet,
.storia,
.impostazioni,
.supporto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  cursor: pointer;
}

.wallet.active,
.storia.active,
.impostazioni.active,
.supporto.active {
  color: #c8b568;
}

.myButton {
  width: fit-content;
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whiteBox, .whiteBoxText{
  background-color: white;
  display: inline-block;
  padding: 5px;  /* Aggiungi un po' di padding se necessario */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;  /* Assicura che padding e bordi siano inclusi nella dimensione totale */
}



.tableContainer {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

table {
  margin: auto;
  font-size: 24px; /* Imposta la dimensione del font della tabella */
}

th,
td {
  padding: 10px 20px;
  text-align: center; /* Testo centrato nelle celle */
}

th {
  font-size: 32px; /* Imposta la dimensione del font per l'intestazione della tabella */
}

td {
  vertical-align: middle; /* Centra verticalmente il testo nelle celle */
}